################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RDC.Tests.PersonalFinances.Database/RDC.Tests.PersonalFinances.Database.dbmdl
